<footer class="backdrop-blur-sm fixed bottom-0 z-10 w-full text-center uppercase max-sm:text-xs">
    <h1 class="p-4 text-center backdrop-blur-sm text-md md:text-lg">
        implementation & design by <a>lara koller</a> & <a href="https://bbo.do">bodo braegger</a>
    </h1>
</footer>
