<header class=" mb-8 md:mb-12 ">
<nav class="absolute top-0 left-0 p-4 md:p-8 z-10">
    <div class="font-bold text-xs md:text-sm space-y-1 md:space-y-2">
    <a href="works">WORKS</a>
    <a href="about">ABOUT</a>
    <a href="calendar">CALENDER</a>
    </div>
</nav>

<!-- Mobile click indicator -->
<div class="absolute top-4 right-4 md:hidden">
    <span class="text-xs">⭘ CLICK!!</span>
</div>

<h1 class="text-center text-sm font-bold tracking-wider">
    <a href="/">JANIS LABHART</a>
</h1>
</header>
