@font-face {
    font-family: 'Bandit';
    src: url('./assets/fonts/Bandit-Condensed.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    size-adjust: 180%;
    font-width: condensed;
}

@font-face {
    font-family: 'Selecta';
    src: url('./assets/fonts/Selecta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
