@import "tailwindcss";

/* variables */
:root {
    --c-bg: #ABABAB; /* Background color */
    --c-verlauf: #FFA176; /* Gradient target color */
    --c-img-filter: color-mix(in srgb, var(--c-verlauf) 66%, transparent);
    --c-bg-about: linear-gradient(180deg, #ADADAD 71.15%, var(--c-verlauf) 100%);
    --c-bg-calendar: linear-gradient(0deg, transparent 0%, color-mix(in srgb, var(--c-verlauf) 66%, transparent) 57.69%, var(--c-verlauf) 87.02%);
    --c-bg-works: linear-gradient(180deg, transparent 8.17%, var(--c-verlauf) 58.65%, transparent 100%);
    --c-highlight: #929292;
    --image-filters: grayscale(100%) brightness(0.9) contrast(1.1) invert(1) drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button {
    cursor: pointer;
}

html, body {
    background-color: var(--c-bg);
    min-height: 100vh;
}

header {
    mask-image: linear-gradient(to bottom, var(--c-bg) 50%, transparent 100%);
}
header a {
    display: inline-block;
}

nav {
    user-select: none;
}
nav a {
    display: block;
}
a, button {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration))
}
a:hover, button:hover, h2:hover, .clickSounds:hover {
    color: var(--c-highlight);
    transform: scale(1, 1.2);
}
.category-btn {
    margin-left: 0.5rem;
    display: block;
}

h2 {
    scroll-margin-top: 7rem;
    width: fit-content;
    margin: 0 auto;
}

.selected {
    color: var(--c-highlight);
}

.project-content {
    background: var(--c-bg-works)
}

input[type="radio"] {
    accent-color: var(--c-verlauf);
}

footer {
  mask-image: linear-gradient(to top, var(--c-bg) 50%, transparent 100%);
}

.prose {
    text-align: justify;
    word-break: normal;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
}

.prose p > a {
    display: inline-block;
}

@media (min-width: 768px) {
    .prose {
        column-count: 2;
        column-gap: 2rem;
        column-fill: balance;
    }
}

.prose figure {
    column-span: all;
    margin: 1rem 0;
}

.prose img {
  filter: var(--image-filters);
  transition: filter 0.3s ease;
}

.prose img:hover {
    filter: grayscale(0);
}

body:has(.about) {
    background: var(--c-bg-about);
}

.about a {
    font-weight: bold;
}

.has-text-align-center {
    text-align: center;
}

.figures {
    column-span: all;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem 0;
}

.figures img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    .figures:has(> :nth-child(2)) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 90vw;
        max-width: 1200px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

iframe {
    width: 100%;
    column-span: all;
}
iframe[src*="soundcloud.com"] {
    height: 166px;
}

audio {
    width: 100%;
    height: 32px;
}


.calendar-month-head {
    background: var(--c-bg-calendar);
}

.calendar-head, .calendar-year-head {
    background: black;
    color: white;
}

.calendar-event {
    border-bottom: 1px solid black;
}
