@import "tailwindcss";

/* variables */
:root {
    --c-bg: #ABABAB; /* Background color */
    --c-verlauf: #FFA176; /* Gradient target color */
    --c-bg-about: linear-gradient(180deg, #ADADAD 71.15%, var(--c-verlauf) 100%);
    --c-bg-calendar: linear-gradient(0deg, transparent 0%, color-mix(in srgb, var(--c-verlauf) 66%, transparent) 57.69%, var(--c-verlauf) 87.02%);
    --c-bg-works: linear-gradient(180deg, transparent 8.17%, var(--c-verlauf) 58.65%, transparent 100%);
}

html, body {
    background-color: var(--c-bg);
}

header {
    mask-image: linear-gradient(to bottom, var(--c-bg) 50%, transparent 100%);
}

header a {
    display: block;
}
header a:hover {
    text-decoration: underline;
}

h2 {
    scroll-margin-top: 7rem;
}

.project-content {
    background: var(--c-bg-works)
}


footer {
  mask-image: linear-gradient(to top, var(--c-bg) 50%, transparent 100%);
}
