---
import '../fonts.css'
import '../styles.css'
import Header from '../components/Header.astro'
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Bodo Braegger">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="revisit-after" content="7 days">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta property="og:title" content="Janis Labhart">
        <meta property="og:image" content="https://api.janislabhart.ch/wp-content/uploads/2025/06/IMG_3135-1-scaled.jpg">
        <meta property="og:image:alt" content="Janis Labhart">
        <meta property="og:description" content="Janis Labhart's Portfolio">
        <meta name="description" content="Janis Labhart's Portfolio">
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Janis Labhart</title>
    </head>
    <body class="font-bold">
        <Header />
        <slot />
    </body>
</html>
